@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #383838;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-comic-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091735;
    --foreground: #d8d8d8;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  width: 200px;
  height: auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1A447C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  gap: 1rem;
  font-weight:bold;
}
