@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.logo{
  width: 200px;
  height: auto;
}

.navbar {
  position: fixed; /* Fixa no topo da tela */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 6rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #84D3F2;
  padding: 0rem;
  gap: .2rem;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: white;
  font-weight: bold;
  position: relative;
  text-decoration: none; 
  padding-bottom: 5px;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #417FA6;
  transition: width 0.3s ease-out;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a:hover {
  color: #417FA6;
}

.navbar a.active {
  color: #417FA6; /* Active link text color */
}

/* Container do botão para posicionar o dropdown */
.menu-toggle-wrapper {
  position: relative; 
}

/* Ícone de menu (hambúrguer) */
.menu-toggle {
  display: none; /* isso faz com que ele fique "escondido" para desktops */
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* logo abaixo do botão */
  left: 0;
  background-color: #84D3F2;
  padding: 0.3rem 0;
  width: 16rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1100;
}

.dropdown a {
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.dropdown a:last-child {
  margin-bottom: 0; /* remove margem extra no último item */
}

.menu{
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px;
}

section {
  min-height: 65vh; /* altura minima para cada secao --> excluir se necessario */
  width: 100%;
  scroll-margin-top: 6rem;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
  

